@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --deepBlue: #0000FF;
    --red: red;
    --lightAsh: #efefff;
    --lightAsh2: #efefff;
    --lightBlue: #6262FF;
    --white: #fff;
    --black: #000000;
    --lightPink: rgb(239, 205, 205);
    --deepRed: rgb(92, 22, 22);
    --deepGray: #444;
}
body{
    font-family: 'Poppins', sans-serif;
    
}

form>h3>a{
    font-size: 2.2rem;
    color:var(--deepBlue)!important;
    margin-bottom: 10px;
}
form>h3>a>i{
    color: var(--red)!important;
}

form{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    
}
form::before{
content: '';
position:absolute;
width: 1000px;
height: 110vh;
top: -10%;
right: 60%;
background-image: linear-gradient(-45deg, var(--deepBlue) 0%, var(--red) 100%);
border-bottom-right-radius: 100%;
}
.social-ul{
    display: flex;
    gap: 1;
    margin: 17px 0;
}
.social-ul li{
    padding: 5px 10px;
    font-size: 1.4rem;
    border-radius: 50%;
    border: 1px solid var(--deepBlue);
    margin-right: 7px;
    transition: all 0.5s ease-in-out;
}
.social-ul li:hover{
    border-color: transparent;
}
.input-field{
    background-color: var(--lightAsh);
    padding: 0 0.4rem;
    padding-left: 20px;
    width: 100%;
    margin: 10px 0;
    max-width: 380px;
    height: 55px;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
}
.input-field>input{
    background: transparent;
    width: 100%;
    font-weight: 600;
    border: none;
}
.input-field>input:placeholder-shown{
    font-weight: 200;
}
.input-field>i{
    line-height: 55px;
    text-align: center;
    color: rgb(138, 134, 134);
}

.btn{
    background-image: linear-gradient(to right, var(--deepBlue), var(--lightBlue));
    /* background-color: var(--deepBlue); */
    padding: 15px;
    width: 100%;
    max-width: 380px;
    border-radius: 2rem;
    border: 0;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 14px 0;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn:hover{
    background-image: linear-gradient(to right, var(--lightBlue), var(--deepBlue));
    
}

.about-login{
    position: absolute;
    z-index: 2;
    width: 50vh;
    padding: 40px;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    color: var(--white);
}


.abt_img{
    width: 200px;
    height: 150px;
    margin: 50px 40px 30px;
}

h4{
    color: #444;
    font-weight: 600;
    font-size: 1.6rem;
}

.alert-error{
    background-color: var(--lightPink);
    padding: 22px;
    width: 100%;
    max-width: 380px;
    border-radius: 12px;
    color: var(--deepRed);
    position: absolute;
    left: 70%;
}

/* ========================= INDEX PAGE SETTINGS ========================= */
.index-wrapper{
    height: 100vh;
    width: 100%;
    position: absolute;
   

}

.header-container{
    height: 4rem;
    background-image: linear-gradient(-45deg, var(--deepBlue) 0%, var(--red) 100%);
    width: 100%;
margin-bottom: 12px;
    padding: 20px 10rem 20px;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}
.header-container h3 a{
    color: var(--white);
    font-size: 1.5rem;
    font-family: 'Poppins'!important;
}
.header-container ul{
    color: var(--white);
    float: right;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-container ul li a{
    color: var(--white);
    font-weight: 200;
    transition: all 0.5s ease-in-out;
}
.header-container ul li a:hover{
    font-weight: 600;
    color:var(--lightBlue);
}
.active{
    font-weight: 600!important;
}
.header-container h5{
    color: var(--white);
    font-weight: 200;
}
.index-container{
    padding: 40px 10rem 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.img1 img{
    width: 100%;
    height: auto;
}
.description h1{
    font-size: 5rem;
    line-height: 0.95;
    margin: 40px 0;
    /* color:  var(--deepBlue); */
    background: -webkit-linear-gradient(var(--deepBlue), var(--black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'Poppins'!important;
}
.description p{
    background-color: var(--lightAsh2);
    padding: 25px;
    border-radius: 14px;
    margin-bottom: 20px;
}
.description a{
    
    margin: 5px
}
.btn-register{
    background: var(--deepBlue);
    padding: 0.8rem;
    border-radius: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    color: var(--white);
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--lightBlue);
}
.btn-register:hover{
    border-color: var(--deepBlue);
    background-color: transparent;
    color: var(--deepBlue);
}
.btn-login{
    background:var(--lightBlue);
    border: 1px solid var(--deepBlue);
    padding: 0.8rem;
    border-radius: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    color: var(--white);
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;

}
.btn-login:hover{
    border-color: var(--lightBlue);
    background-color: transparent;
    color: var(--deepBlue);
}


/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================================= */
@media screen and (max-width: 1024px){
.header-container{
    height: auto;
    width: cover;
    padding: 3rem;
}
.index-container{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: baseline;
    padding: 2rem;
}
form::before{
    content: '';
    background-color: transparent;
    background-image: none;
}
.about-login{
    display: none;
}
}

@media screen and (max-width: 600px){
    .index-wrapper{
        height: auto;
        width:cover;
        overflow: hidden;
    }
    .header-container{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 1rem;
        align-items:baseline;
    }
    .header-container ul li{
        font-size: 12px;
        margin-top: 9px;
    }
   
    
    form{
        padding: 2rem;
    }
    .index-container{
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        align-items: baseline;
        padding: 1.5rem;
    }
    .index-container h1{
        font-size: 2.7rem;
    }
    .index-container p{
        text-align: center;
        font-size: 10px;
    }
    .cta{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* ==================== D A S H B O A R D ================ */

.navigation{
    position: fixed;
    width: 200px;
    height: 100%;
    background-image: linear-gradient(-45deg, var(--deepBlue) 0%, var(--lightBlue) 100%);
    transition: 0.5s;
    overflow: hidden;
    
}
.navigation.active{
    width: 55px;
}
.navigation ul{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    padding-left: 10px;
}
.navigation ul li{
    width: 100%;
    position: relative;
    padding-top: 20px;
    line-height: 20px;

}

.navigation ul li:nth-child(1){
    margin-top: 30px;
    font-size: 2rem;
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    color: var(--white);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-height: 40px;
    min-width: 40px;
    line-height: 20px;
    text-align: center;
}
.navigation ul li a .icon i{
    font-size: 0.8rem;
}
.navigation ul li a .title{
    height: 40px;
    text-align: start;
    position: relative;
    display: block;
    padding: 0 5px;
    line-height: 20px;
    font-size: 0.8rem;
}

/* outside curve */



.navigation ul li a.active::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li a.active::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li a.active{
    padding-top: 20px;
    background-color: var(--white);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    color: var(--deepBlue);
}



.logo .title{
    font-weight: 600;
    font-size: 2rem!important;
   letter-spacing: 0.1px;
   padding: 0;
}
.logo .icon i{
    font-size: 1.7rem!important;
}
.logo .icon{
    color: var(--red);
    padding: 0;
}

.main{
    position: absolute;
    width: calc(100% - 200px);
    min-height: 100vh;
    margin-left: 200px;
    background: var(--white);
    padding: 1rem;
    padding-bottom: 0!important;
}
.main.active{
    width: calc(100% - 55px);
    margin-left: 55px;
    transition: all 0.5s ease-in-out;
}
.topbar{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--deepGray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    width: 400px;
    margin: 0 10px;
    position: relative;
}
.search label{
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search label input{
    width: 80%;
    height: 30px;
    border-radius: 40px;
    padding: 5px 20px;
    outline: 0;
    border: 1px solid var(--deepGray);
    padding-left: 35px;
    font-size: 1rem;
}
.search label i{
    left: 60px;
    position: absolute;
    font-size: 1rem;
    color: var(--deepGray);
}
.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    font-size: 1rem;
    padding: 0 15px;
}
.notification a i{
    color: rgb(173, 169, 169);
    transition: all 0.5s ease-in-out;
}
.notification a i:hover{
    color: var(--lightBlue);
}
.welcome{
    height: auto;
    width: 100%;
    position: relative;
    padding: 10px;
    background-color: var(--lightAsh2);
    border: 1px solid var(--lightBlue);
    border-radius: 12px;
    margin: 20px 0;
    margin-bottom: 0!important;
    font-size: 0.8rem;
    
}

.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
    align-items: baseline;
}

.card{
    background: var(--white);
    padding-top: 0!important;
    padding: 15px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px var(--lightAsh);
    font-size: 0.8rem;
}
.card-icon>h2::after{
    content: '';
    width: 70px;
    height: 3px;
    background-color: var(--deepBlue);
    
}
.card-icon>h2{
    color: var(--lightBlue);
    margin: 30px 0;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
}

tbody tr{
    
    cursor: pointer;
    
    
    
}
td{
    border-bottom: 1px solid var(--lightAsh2);
}


table thead tr{
    text-transform: uppercase;
    
    color: var(--deepGray);
    background-color: rgb(238, 239, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
table th{
    font-weight: 600!important;
}
table td,
table th{
    padding: 12px 30px;
    font-weight: 200;
}
.status{
    
    padding: 2px 10px;
    border-radius: 2px;
    
    text-transform: capitalize;
    cursor: pointer;
}
.pending{
    background-color: var(--lightPink);
    border: 1px solid var(--deepRed);
}
.success{
    background-color: rgb(102, 247, 223);
    border: 1px solid rgb(68, 181, 93); 
}

.doc-1{
    display: flex;
    padding: 10px;
   margin-bottom: 5px;
    align-items: center;
    gap: 2rem;
}
.doc-1 div{
    line-height: 1.4rem;
}
.doc-1 img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 8px solid #b3b3f8;
}
.dashboard-footer{
    margin-top: 45px;
    height: auto;
    width: 100%;
    padding: 15px;
    gap: 65%;
    background-color: var(--lightAsh2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 0.7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

/* ================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px){
    .card-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    }
    .card{
        overflow: hidden;
        width: 100%;
    }

}
@media screen and (max-width: 600px){
    .dashboard-wrapper{
        height: 100vh;
    }
    .navigation{
        height: cover;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .main{
        margin-bottom: 0;
        padding-bottom: 0;
        height: auto;
        width: calc(100% - 55px);
        margin-left: 55px;
        transition: all 0.5s ease-in-out;
    }
    .toggle{
        display: none;
    }
    .search{
        display: none;
    }
    .notification{
        gap: 0.7rem;
        font-size: 0.5rem;
        margin-left: 200px;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    }
    .card{
        overflow: hidden;
        width: 100%;
    }
    table td,
table th{
    padding: 12px 5px;
    font-weight: 200;
    text-align: center;
}
    
}
/* ========= END OF DASHBOARD STYLE ================== */